<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('menu') %>
        <div class="container mt-5">
            <div class="d-flex flex-row justify-content-center">
                <h3 class="fw-bold my-2 mx-5"> Bem vindo ao <span style="color: #EB762B;">Blog</span>, 
                    <% if (userName) { %> 
                        <%= userName %>!
                    <% } %>
                </h3>
                <a href="/post-create">
                    <div class="icon shadow">
                        <img src="images/plus.png" alt="plus" style="height: 30px; width: 30px; margin: 12px;">
                    </div>
                </a>
            </div>
            <br>
            <% if (sucess_create_post) { %>
                <div class='alert alert-success' style="height: 60px;">
                    <p>
                        <%= sucess_create_post %>
                    </p>
                </div>
            <% } %>
            <div class="row mt-5">
                <% posts.forEach(function(post) { %>
                    <div class="col mb-5">
                        <div class="card" style="width: 19rem;">
                            <img src="postPics/<%= post['pic'] %>" class="card-img-top" alt="postPic">
                            <div class="card-body">
                                <div class="d-flex flex-row mb-3">
                                    <a href="#" class="mx-2">
                                        <img src="images/like.png" alt="like" style="height: 32px; width: 32px;">
                                    </a>
                                    <a href="#">
                                        <img src="images/comment.png" alt="comment" style="height: 31px; width: 31px;">
                                    </a>
                                </div>
                    
                                <p class="card-text fw-bold">
                                    Curtido por 500 pessoas
                                </p>
                                <br>
                                <p class="card-text fw-bold">
                                    <%= post['postAuthor'].name %>
                                </p>
                                <p class="card-text">
                                    <%= post['description'] %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
		</div>
</body>
</html>