<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('menu') %>
        <div class="container mt-5">
            <% if(success_create_immunization_control){ %>
                <div class='alert alert-success' style="height: 60px;">
                  <p>
                    <%= success_create_immunization_control %>
                  </p>
                </div>
            <% } %>
            <br>
            <% pet.forEach(function (pet) { %>
                <div class="d-flex flex-row">
                    <h3 class="fw-bold my-2"> Carteira Digital do <span style="color: #EB762B;"><%= pet['name'] %></span>!</h3>
                    <a href="/adicionarControleImunizacao/<%= pet['id'] %>">
                        <div class="icon shadow mx-5">
                            <img src="../images/vaccine.svg" alt="plus" style="height: 30px; width: 30px; margin: 12px;">
                        </div>
                    </a>
                    <a href="/adicionarControlePeso">
                        <div class="icon shadow ">
                            <img src="../images/weight.png" alt="edit" style="height: 32px; width: 32px; margin: 12px;">
                        </div>
                    </a>
                    <a href="/adicionarControleMedicamentos">
                        <div class="icon shadow mx-5">
                            <img src="../images/pill.svg" alt="edit" style="height: 30px; width: 30px; margin: 12px;">
                        </div>
                    </a>
                    <a href="/filtrarTabela">
                        <div class="icon shadow">
                            <img src="../images/filter.png" alt="filter" style="height: 30px; width: 30px; margin: 12px;">
                        </div>
                    </a>
                </div>            
                <div class="mt-5">
                    <h3 class="fw-bold"> Controle de imunização </h3>
                    <table class="table mt-1">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Vacina</th>
                                <th scope="col">Veterinário</th>
                                <th scope="col">Repetir em</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% immunizationControl.forEach(function(immunizationControl) { %>
                                <tr>
                                    <th class="fw-normal" scope="row"> <%= immunizationControl['date'] %> </th>
                                    <td><%= immunizationControl['vaccineName'] %></td>
                                    <td><%= immunizationControl['vetName'] %></td>
                                    <td><%= immunizationControl['vaccineRepeat'] %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            <% }) %>
        </div>
</body>

</html>