<!DOCTYPE html>
<html lang="pr-br">

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('menu') %>
    <section>
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-6">

            <% if (success_message) { %>
              <div class="alert alert-success" style="height: 60px">
                <p>
                  <%= success_message %>
                </p>
              </div>
              <% } %>
                <div class="card" id="chat2">
                    <div class="ps-theme-default ps-active-y chat-container" id="chat-conteudo"
                      style="overflow-y: auto !important;">


                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                      <h5 class="mb-0 fw-bold" style="color: #e26a29;">Chat</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px" id="chat-conteudo">
                      <!-- ...código anterior... -->

                      <% const allMessages=[]; %>
                        <% myMessages.forEach(function(myMessage) { %>
                          <% myMessage.sender='me' ; %>
                            <% allMessages.push(myMessage); %>
                              <% }); %>
                                <% recipientMessages.forEach(function(recipientMessage) { %>
                                  <% recipientMessage.sender='recipient' ; %>
                                    <% allMessages.push(recipientMessage); %>
                                      <% }); %>
                                        <% allMessages.sort(function(a, b) { return new Date(b.created_at) - new
                                          Date(a.created_at); }); %>
                                          <% allMessages.reverse(); %>
                                            <% allMessages.forEach(function(message) { %>
                                              <% if (message.sender==='me' ) { %>
                                                <!-- exibir as mensagens do remetente -->
                                                <div class="d-flex flex-row justify-content-start align-items-center">
                                                  <% if (profilePic) { %>
                                                    <img class="rounded-circle shadow"
                                                      src="/profilePics/<%= profilePic %>" alt="profile-picture"
                                                      style="width: 50px; height: 50px; margin-right: 10px" />
                                                    <% } else { %>
                                                      <img class="rounded-circle shadow" src="/images/user-circle.png"
                                                        alt="profile-picture"
                                                        style="width: 50px; height: 50px; margin-right: 10px" />
                                                      <% } %>
                                                        <div>
                                                          <p class="small p-2 mb-1 rounded-3"
                                                            style="background-color: #f5f6f7">
                                                            <%= message['message'] %>
                                                          </p>
                                                          <p class="small mb-3 rounded-3 text-muted">
                                                            <%= message['created_at'] %>
                                                          </p>
                                                        </div>
                                                </div>
                                                <% } else { %>
                                                  <!-- exibir as mensagens do destinatário -->
                                                  <div
                                                    class="d-flex flex-row justify-content-end align-items-center mb-4">
                                                    <% if (recipientProfilePic) { %>
                                                      <img class="rounded-circle shadow"
                                                        src="/profilePics/<%= recipientProfilePic %>"
                                                        alt="profile-picture"
                                                        style="width: 50px; height: 50px; margin-right: 10px" />
                                                      <% } else { %>
                                                        <img class="rounded-circle shadow" src="/images/user-circle.png"
                                                          alt="profile-picture"
                                                          style="width: 50px; height: 50px; margin-right: 10px" />
                                                        <% } %>
                                                          <div>
                                                            <p class="small p-2 mb-1 rounded-3"
                                                              style="background-color: #f5f6f7">
                                                              <%= message['message'] %>
                                                            </p>
                                                            <p class="small mb-3 rounded-3 text-muted">
                                                              <%= message['created_at'] %>
                                                            </p>
                                                          </div>
                                                  </div>
                                                  <% } %>
                                                    <% }) %>
                    </div>
                    <form action="/chat/<%= recipientId %>" method="post" enctype="multipart/form-data">
                      <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <% if (profilePic) { %>
                          <img class="rounded-circle shadow" src="/profilePics/<%= profilePic %>" alt="profile-picture"
                            style="width: 50px; height: 50px" />
                          <% } else { %>
                            <img class="rounded-circle shadow" src="/images/user-circle.png" alt="profile-picture"
                              style="width: 50px; height: 50px" />
                            <% } %>
                              <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                                name="message" placeholder="Escreva aqui" style="font-size: medium" />
                              <button class="btn rounded-2" style="background-color: #e26a29" type="submit">
                                <img src="../images/paper-plane.svg" alt="paper-plane"
                                  style="height: 25px; width: 25px" />
                              </button>
                      </div>
                    </form>
                  </div>
                </div>
          </div>
        </div>
    </section>
</body>

</html>