<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('menu') %>
  <div class="container mt-5">
    <div class="d-flex flex-row justify-content-center">
      <h3 class="fw-bold my-2 mx-5"> Não compre, <span style="color: #EB762B;">adote</span>!</h3>
      <a href="/adicionarDoacao">
        <div class="icon shadow">
          <img src="images/plus.png" alt="plus" style="height: 30px; width: 30px; margin: 12px;">
        </div>
      </a>
    </div>
    <br>
    <% if(success_create_donation){ %>
      <div class='alert alert-success' style="height: 60px;">
        <p>
          <%= success_create_donation %>
        </p>
      </div>
    <% } %>
    <div class="row mt-5">
      <% donations.forEach(function (donation) { %>
        <div class="col mb-5">
          <div class="card" style="width: 19rem;">
            <img src="donationPics/<%= donation['petPic'] %>" class="card-img-top" alt="petPic">
            <div class="card-body">
              <h5 class="card-title fw-bold">
                <%= donation['petName'] %>
              </h5>
              <br>
              <p class="card-text card-description">
                <span class="fw-bold"> Descrição: </span>
                <%= donation['petDescription'] %>
              </p>
              <p class="card-text">
                <span class="fw-bold"> Castrado: </span>
                <% if (donation['petSpayed'] === true) { %>
                  Sim
                  <% } else { %>
                    Não
                    <% } %>
              </p>
              <p class="card-text">
                <span class="fw-bold"> Vacinado: </span>
                <% if (donation['petVaccinated'] === true) { %>
                  Sim
                  <% } else { %>
                    Não
                    <% } %>
              </p>
              <p class="card-text">
                <span class="fw-bold"> Gênero: </span>
                <%= donation['petGender'] %>
              </p>
              <br>
              <button class="btn card-btn" style="background-color: #EB762B; color: white;">
                Entrar em contato
              </button>
              
            </div>
          </div>
        </div>
      <% }) %>
    </div>
</body>
</html>

