<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('menu') %>
    <div class="container col-md-4 mt-5"> 
      <% donation.forEach(function (donation) { %>
        <form action="/donation-update/<%= donation['id'] %>" method="post" class="form shadow p-5" enctype="multipart/form-data">
          <h2 class="fw-bold text-center">Atualize os dados da sua doação</h2>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome do pet" name="name" value="<%= donation['petName'] %>" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Breve descrição do pet" name="description" value="<%= donation['petDescription'] %>" required>
          </div>
          <label for="foto">
            Foto do pet
          </label>
          <div class="form-group">
            <input type="file" class="form-control" name="petPic" required>
          </div>
          <h4 class="fw-bold text-start">
            Tipo do pet
          </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="dog" value="Cão" required>
            <label class="form-check-label" for="dog">
              Cão
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="cat" value="Gato" required>
            <label class="form-check-label" for="cat">
              Gato
            </label>
          </div>
          <br>
          <h4 class="fw-bold text-start">
            Castração e Vacinação
          </h4>       
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" name="spayed" id="castracao">
            <label class="form-check-label" for="castracao">
              Castrado
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="vaccinated" id="vacinacao">
            <label class="form-check-label" for="vacinacao">
              Vacinado
            </label>
          </div>
          <br>
          <h4 class="fw-bold text-start">
            Gênero do pet
          </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="macho" value="Macho" required>
            <label class="form-check-label" for="macho">
              Macho
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="femea" value="Fêmea" required>
            <label class="form-check-label" for="femea">
              Fêmea
            </label>
          </div>
          <div class="form-group text-center mt-5">
            <input type="submit" class="btn text-light fw-bold shadow-lg" name="btn" value="ATUALIZAR" style="background-color: #E26A29;">  
          </div>
        </form>
      <% }) %>
    </div>
</body>
</html>