<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('menu') %>
    <div class="container mt-5">
        <div class="d-flex flex-row justify-content-center">
            <h3 class="fw-bold my-2 mx-5">Adicione uma <span style="color: #EB762B;">mensagem</span>!</h3>
            <a href="/adicionarMensagemForum">
                <div class="icon shadow">
                    <img src="images/plus.png" alt="plus" style="height: 30px; width: 30px; margin: 12px;">
                </div>
            </a>
        </div>
        <br>
        <% if (success_create_forum_message) { %>
            <div class='alert alert-success' style="height: 60px;">
                <p>
                    <%= success_create_forum_message %>
                </p>
            </div>
        <% } %>
        <% if (success_create_forum_message_response) { %>
            <div class='alert alert-success' style="height: 60px;">
                <p>
                    <%= success_create_forum_message_response %>
                </p>
            </div>
        <% } %>
        <% if(warning) { %>
            <div class='alert alert-danger' style="height: 60px;">
                <p>
                    <%= warning %>
                </p>
            </div>
        <% } %>
        <% messages.forEach(function(message) { %>
            <div class="mensagemForum container shadow p-5 mt-5">
                <h3 class="fw-bold"><%= message['title'] %></h3>
                <br>
                <p style="font-size: large;">
                    Mensagem: <%= message['description'] %>
                </p>
                <p class="fw-bold"><%= message['forumMessageAuthor'].name %></p>
                <% if (userType == "vet") { %>
                    <p class="">
                        <a href="/responderMensagemForum/ <%= message['id'] %>" style="color: #EB762B;">
                            Responder
                        </a>
                    </p>
                <% } %>
                <br>
                <a href="/verRespostasMensagemForum/<%= message['id'] %>" class="btn" style="background-color: #EB762B; color: white;">
                    Ver respostas
                </a>
            </div>
            <br>
        <% }) %>
    </div>
    
</body>
</html>