<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('menu') %>
        <div class="container mt-5">
            <div class="d-flex flex-row justify-content-center">
                <h3 class="fw-bold mx-2 my-2">Por aqui você pode agendar uma <span style="color: #EB762B;">consulta</span>!</h3>
            </div>
            <div class="mt-5">
                <table class="table mt-1">
                    <thead>
                        <tr>
                            <th scope="col">Veterinário</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Contato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% vets.forEach(function (vet) { %>
                            <tr>
                                <th class="fw-normal" scope="row"><%= vet['name'] %></th>
                                <td><a href="/profile/<%= vet['id'] %>" style="color: #EB762B;">Ver perfil</a></td>
                                <td><a href="/chat/<%= vet['id']%>" style="color: #EB762B;">Entrar em contato</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>