<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('head') %>
  </head>

  <body>
    <%- include('menu') %>
    <div class="container text-start">
      <h2 class="fw-bold mt-4">Perfil do veterinário</h2>
    </div>
    <div class="perfil container d-flex text-start mt-5 shadow">
      <% if (profileUserVetPic) { %>
      <img
        class="rounded-circle shadow m-5"
        src="../profilePics/<%= profileUserVetPic %>"
        alt="profile-picture"
        style="height: 300px; width: 300px"
      />
      <% } else { %>
      <img
        class="rounded-circle shadow m-5"
        src="../images/user-circle.png"
        alt="profile-picture"
        style="height: 300px; width: 300px"
      />
      <% } %>
      <div class="container m-5">
        <h5 class="fw-bold" style="color: #eb762b">Nome:</h5>
        <% if(profileUserVetName){ %>
        <h5><%= profileUserVetName %></h5>
        <%} %>
        <br />
        <h5 class="fw-bold" style="color: #eb762b">Descrição:</h5>
        <% if(profileUserVetBio){ %>
        <h5><%= profileUserVetBio %></h5>
        <% } %> <% if (!profileUserVetBio) { %>
        <h5>Nenhuma</h5>
        <% } %>
      </div>
      <div class="container">
        <a href="#" class="text-decoration-none text-white">
          <button
            class="btn text-light m-5 fw-bold shadow"
            style="background-color: #e26a29"
          >
            <a href="/chat/<%= profileId %>" style="color: white; text-decoration: none;">
              Entrar em contato
            </a>
          </button>
        </a>
      </div>
    </div>
    <br />
    <div class="container mt-5 mb-5">
        <table class="table mt-1">
            <thead>
                <tr>
                    <th scope="col">Doações</th>
                    <th scope="col">Publicações</th>
                    <th scope="col">Fórum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/user-donations/<%= profileId %>" style="color: #eb762b">Suas doações</a>
                    </td>
                    <td>
                        <a href="/user-posts/<%= profileId %>" style="color: #eb762b">Suas publicações</a>
                    </td>
                    <td>
                        <a href="/user-messages/<%= profileId %>" style="color: #eb762b">Suas mensagens</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>

